<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nc13.mappers.ReplyMapper">
    <select id="selectAll" resultType="replyDTO" parameterType="int">
        SELECT * FROM reply
        INNER JOIN user
        ON reply.writer_id = user.id
        WHERE board_id = #{boardId}
        ORDER BY reply.id ASC
    </select>

    <select id="selectOne" resultType="replyDTO" parameterType="int">
        SELECT * FROM reply
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="replyDTO">
        INSERT INTO reply (content, entry_date, modify_date, writer_id, board_id)
        VALUES(#{content}, NOW(), NOW(), #{writerId}, #{boardId})
    </insert>

    <update id="update" parameterType="replyDTO">
        UPDATE reply
        SET content = #{content},
        modify_date = NOW()
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM reply
        WHERE id = #{id}
    </delete>
</mapper>